* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

@font-face {
  font-family: astro_space_font;
  src: url(/AstroSpace-Font.otf);
}

body {
  height: 100%;
  width: 100%;
  /* position: fixed; */
  background-image: url(/Images/Star.png);
  background-size: 50vw;
  background-repeat: repeat;
}

/* buttons */
.secondary_button {
  text-align: center;
  height: 5vw;
  width: 96vw;
  background-color: rgba(255, 255, 255, 0.35);
  text-decoration: none;
  border-radius: 1vw;
  margin-top: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 2.75vw;
  line-height: 5vw;

  border-left: rgba(255, 255, 255, 0.35) 0vw solid;
  border-right: rgba(255, 255, 255, 0.35) 0vw solid;
  transition: border-left 0.25s ease-in-out, border-right 0.25s ease-in-out,
    color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.secondary_button:hover {
  border: rgba(255, 255, 255, 0.65) 0.25vw solid;
  border-left: rgba(255, 255, 255, 0.65) 20vw solid;
  border-right: rgba(255, 255, 255, 0.65) 20vw solid;

  color: rgba(255, 255, 255, 0.65);
  background-color: rgba(255, 255, 255, 0);
}

.main_button {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  height: 10vw;
  width: 95vw;
  margin-left: 1vw;
  margin-top: 2.5vw;

  font-size: 6vw;

  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 1vw;
  border-top: rgba(255, 255, 255, 0.35) 0vw solid;
  border-bottom: rgba(255, 255, 255, 0.35) 0vw solid;
  transition: border-top 0.25s ease-in-out, border-bottom 0.25s ease-in-out,
    color 0.25s ease-in-out, background-color 0.5s ease-in-out;
}

.main_button:hover {
  border-top: rgba(255, 255, 255, 0.65) 5vw solid;
  border-bottom: rgba(255, 255, 255, 0.65) 5vw solid;
  color: rgba(255, 255, 255, 0.65);
  background-color: rgba(255, 255, 255, 0);
}

.main_button:hover {
  cursor: pointer;
}

.secondary_button:hover {
  cursor: pointer;
}

.tertiary_button {
  margin-left: 2.5vw;
  width: 93vw;
}

.header {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  height: 10vw;
  width: 98vw;
  margin: 1vw;
  margin-bottom: 0vw;

  font-size: 6vw;

  background-color: rgba(255, 255, 255, 0.65);
  border-top-left-radius: 2.5vw;
  border-top-right-radius: 2.5vw;
}

/* FONTS */
.astro_font {
  text-align: center;
  font-family: astro_space_font;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.roboto_font {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  font-size: 20px;
}

/* grids */
.grid_2_column {
  display: grid;
  grid-template-columns: repeat(2, 49vw);
  justify-content: center;
  align-content: center;
  border: none;
}

.grid_1_column {
  display: grid;
  grid-template-columns: repeat(1, 98vw);
  justify-content: center;
  align-content: center;
  border: none;
  margin: none;
}

.ship_grid {
}

.hide {
  display: none;
}

.card_img {
  display: flex;
  border-radius: 2.5vw;
  object-fit: contain;
}

.kingdom_card {
  width: 49vw;
  height: 100%;
}

.resource_card {
  width: 46vw;
  height: 100%;
}

.smaller {
  width: 47vw;
  height: 5vw;
  font-size: 3vw;
  background-color: rgba(255, 255, 255, 0.35);
  margin-left: 1vw;
}

.resource {
  border-radius: 0px;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.35);
  border-bottom: 0.55vw solid rgba(255, 255, 255, 0.35);
  background-color: rgba(255, 255, 255, 0);
}

.space {
  margin: 1vw;
}

.border {
  border: 0.5vw solid rgba(255, 255, 255, 0.35);
  margin: 1vw;
  margin-top: 0vw;
  padding-bottom: 1vw;
  border-bottom-left-radius: 3.15vw;
  border-bottom-right-radius: 3.15vw;
}

.resource_border {
  border: 0.5vw solid rgba(255, 255, 255, 0.35);
  border-top: none;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.35);
  margin: 1vw;
  padding-bottom: 2vw;
  border-radius: 3.15vw;
}

.dark {
  border-color: rgba(255, 255, 255, 0.65);
}

.sub_header {
  text-align: center;
  height: 5vw;
  width: 96vw;
  background-color: rgba(255, 255, 255, 0.35);
  text-decoration: none;
  border-radius: 1vw;
  margin-top: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 2.75vw;
  line-height: 5vw;
  border-bottom-left-radius: 0vw;
  border-bottom-right-radius: 0vw;
}
